<style>
    .employeeDropdown{
        position: absolute;
        right: 2rem;
        top: 15rem;
        width: 13rem;
    }
    .employeeDropdown md-input-container{
        width: 13rem;
    }
</style>

<div class="employeeDropdown">
    <md-input-container>
        <md-select ng-model="selectedUser" placeholder="Mitarbeiter auswählen" ng-change="selectChanged()">
            <md-option ng-value="user" ng-repeat="user in $ctrl.users">
                {{ user }}
            </md-option>
        </md-select>
    </md-input-container>
</div>