<style>
    .impressum {
        transform: translateY(5.4rem);
        z-index: -1;
    }

    .impressum .text {
        width: 70%;
    }

    .impressum .text-block {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .impressum .heading {
        color: rgb(133, 0, 59);
    }

    .impressum th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

</style>
<div class="impressum">
    <div class="text-block">
        <h1 class="heading">Impressum</h1>
        <table>
            <tr>
                <th>Eigentümer der Webseite</th>
                <th>Florian Gödel, Dominik Novi, Felix Linhart und Kevin Chelappurath</th>
            </tr>
            <tr>
                <th>Anschrift</th>
                <th>Telering 5, 2460 Bruck an der Leitha</th>
            </tr>
        </table>
    </div>
</div>